
body {
    max-width: 1200px;
    margin: auto;
}

table {
    border-spacing: 3px;
}

td {
    padding: 12px;
}

html,
body {
    height: 100%;
    margin: 0;
}

html {
    background-color: #ababab;
}

body {
    min-height: 100vh;
    max-width: 81vw;
    background-color: #9a9a9a;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .header {
    flex: 0 1 auto;
}

.box .content {
    flex: 1 1 auto;
}

.box .footer {
    flex: 0 1 auto;
}